<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHVAvlLoyydMQ/profile-displayphoto-shrink_100_100/0/1558536355264?e=1626307200&v=beta&t=rqC0gu5b7jF5Y-CLc3wJ6mX4BplMoXkRvLY-p1N01hM" alt="">
  <h1>Denilson Alves de Lima</h1>
  <p>Professor na ETEC Jardim Ângela</p>
  <p>ETIM Desenvolvimento de Sistemas</p>
  <a href="mailto:denilson.lima4@etec.sp.gov.br">denilson.lima4@etec.sp.gov.br</a>
</ion-content>
